.navigation-container {
  background: salmon;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 900px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  .accordion-todo {
    .create-task-container {
    }

    .create-category-container {
    }
  }

  .ant-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  Input {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
