.navigation-container {
  background: salmon;
  position: relative;
  margin: 0 auto;
  height: 100%;
  width: 1200px;
  margin: 0 auto;

  .ant-btn {
    display: block;
    margin: 0 auto;
    margin-top: 20px;
  }

  Input {
    position: relative;
    display: block;
    margin: 0 auto;
  }
}
